<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Artistic Walls by Mark H*****man is a full service decorative and faux finish painting company based in Streamwood, Illinois</h2>
        <p class="lead">Faux Finishes offer an amazing variety in dramatic paint-based effects and design options. Our professionals have the experience and creativity to provide the most time-honored techniques as well as the latest trends.</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
