<aside class="call-to-action bg-primary">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Please contact us for a free estimate, or with any questions.</h3>
		    <form id="contactform" action="//formspree.io/info@otticode.com" method="POST">
            <div class="col-md-12">
              <div class="row">
                <div class="col-sm-6 form-group">
                  <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="col-sm-6 form-group">
                  <input class="form-control" id="email" name="_replyto" placeholder="Email" type="email" required>
                </div>
              </div>
              <div class="row">
                <div class="col-lg-12 form-group">
                  <textarea class="form-control" id="comments" name="message" placeholder="Message" rows="5"></textarea><br />
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 form-group">
                  <button class="btn btn-default pull-right" type="submit">Send</button>
                </div>
              </div>
            </div>
            <!-- <input type="hidden" name="_next" value="//peek.solutions/confirmation.html" />
            <input type="text" name="_gotcha" style="display:none" />    -->
        </form>
      </div>
    </div>
  </div>
</aside>



