<section id="services" class="services bg-primary">
  <div class="container">
    <div class="row text-center">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Our Services</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img class="img-portfolio img-responsive" src="img/concrete-faux-walls1.jpg">
              <h4>
                <strong>Concrete-ing</strong>
              </h4>
              <p>(Yes, that is a made-up word. It means, “Painting a Concrete Faux Finish.”) For a soft, contemporary look and feel to your faux-finished walls, consider replicating the look of concrete by following this <a class="a-color-midnightblue" href="http://www.apartmenttherapy.com/diy-home-decor-how-to-paint-a-faux-concrete-wall-finish-color-therapy-192223">full tutorial</a>. In a nutshell, the process involves random yet strategic incorporations of white, grey, and black paint and glazing with a 9-inch plaster blade.</p>
              <!-- <a href="#" class="btn btn-light">Learn More</a> -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img class="img-portfolio img-responsive" src="img/strie-painting-faux-768x439.jpg">
              <h4>
                <strong>Strie Painting</strong>
              </h4>
              <p>Strie is a faux finish painting technique that is used to create soft streaks of color. When the streaks are drawn onto the wall paint, the final effect is something soft that resembles fabric. Apply a paint/glaze combo using a roller and vertical strokes, then drag a long-bristled brush carefully down through the paint/glaze.</p>
              <!-- <a href="#" class="btn btn-light">Learn More</a> -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img class="img-portfolio img-responsive" src="img/sponge-walls.jpg">
              <h4>
                <strong>Sponging</strong>
              </h4>
              <p>The use of a sponge in faux painting has been around for years; it’s a staple in the faux finishing world. Lightly dip a dry sponge into the paint and gently push it onto the surface you’re working with. The key to sponging is to do multiple layers, each very light, to build up to the color density you’re after. You want the sponged colors to be as even as possible across the entire surface. Consider using slightly different shades of the same color for a subtle depth in your finished faux surface.</p>
              <!-- <a href="#" class="btn btn-light">Learn More</a> -->
            </div>
          </div>
          <div class="col-md-3 col-sm-6">
            <div class="service-item">
              <img class="img-portfolio img-responsive" src="img/leathering.jpg">
              <h4>
                <strong>Leathering</strong>
              </h4>
              <p>Similar to rag-rolling, recreate the luxe look of leather on your walls with chamois. Start by painting the base color on the walls, then roll and tie several pieces of chamois together. Apply glaze onto the wall over the base coat by rolling the chamois gently. The soft texture of chamois results in the soft, mottled look reminiscent of distressed leather.</p>
              <!-- <a href="#" class="btn btn-light">Learn More</a> -->
            </div>
          </div>
        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
